body
{
	background-color: #a7a7a7;
}

h1
{
	text-align: center;
}

.sub_group
{
	padding: 10px 0px; 
}
.content
{
	box-shadow: 0px 0px 10px #818181;
	font-family: 'Fira Code', monospace;
	width: 900px;
	padding: 30px;
	margin: auto;
	background: #ededed;
}

.links
{
	padding-bottom: 20px;
}

.links a
{
	padding: 10px 30px;
	text-decoration: none;
	color: black;
	font-size: 1rem;
}

.subject_content
{
	display: none;
	background: #a7a7a7;
	padding: 5px;
}

.ime
{
	font-size: 1rem;
}

.mail, .site
{
	font-size: 0.75rem;
}

